.box-layout {
    position: fixed;
    z-index: 1;

    background: url('/images/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    transform: scale(1.1);
}

.box-layout__content {
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {
    width: 35rem;
    background: fade-out(#000, .25);
    border-radius: 6px;
    text-align: center;
    padding: $l-size $m-size;
    font-family: 'Avenir next';
    color: #B766FF;
}

.box-layout__box h1 {
    font-weight: 100;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 30px;
}

.box-layout__box p {
    font-weight: 200;
    margin-top: 0;
    padding-left: 30px;
}

.login-button {
    margin-top: 2rem;
    width: 20rem;
    color: #B766FF;
    border-radius: 2px;
}